<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama Speech Interface</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            background: #ddd;
        }

        .div-col {
            display: flex;
            flex-direction: column;
        }

        .div-row {
            display: flex;
            flex-direction: row;
        }

        .center {
            justify-content: center;
            align-items: center;
        }

        .button {
            background: #4CAF50;
            color: white;
            text-align: center;
            min-height: 50px;
            max-height: 50px;
            padding: 10px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <script defer src="fontawesome/all.js"></script>
    <!-- import JavaScript for Vue -->
    <script src="vue/vue.js"></script>
    <script src="vue/index.js"></script>
    <script src="vue/en.js"></script>
</head>

<body>
    <div id="app">
        <div id="txtError"></div>
        <div class="div-col center">
            <div class="div-col center">
                <div class="div-row center" style="margin: 10px; background: #eee; padding: 10px; border: solid 1px black; gap: 20px">
                    <div class="bold">PORT</div>
                    <select id="portDropdown" style="min-height: 40px; min-width: 500px;">
                        <option value="11434">11434</option>
                        <option selected value="11435">11435</option>
                    </select>
                </div>
                <div class="div-row center" style="margin: 10px; background: #eee; padding: 10px; border: solid 1px black; gap: 20px">
                    <div class="bold">VOICE</div>
                    <select id="voicesDropdown" style="min-height: 40px; min-width: 500px;">
                        <option v-if="speechSynthesisVoices.length == 0" value="">Select a voice</option>
                        <option v-for="item in speechSynthesisVoices" :value="item.voiceURI">{{ item.name }} ({{
                            item.lang }})
                        </option>
                    </select>
                </div>
                <div v-if="history.length > 0" class="div-col center" style="margin: 10px; background: #dde; padding: 10px; border: solid 1px black">
                    <div class="bold">HISTORY</div>
                    <div v-for="(item, index) in history" :index="index" class="div-row center"
                        style="align-items: flex-start; justify-content: center; border: solid 1px black; background: #eee; margin: 10px; padding: 20px; gap: 20px">
                        <div class="div-col">
                            <div class="div-row center">
                                <button class="button" style="background: red"
                                    @click="handleDeleteHistoryItem(index)"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                                <button class="button" @click="sendToOllama(item.input)">Send</button>
                                <button class="button" @click="speak(item.output)">Play</button>
                                <button class="button" @click="cancelSpeaking()">Stop</button>
                            </div>
                            <div class="div-row">
                                <input type="text"
                                    style="margin: 5px; padding: 10px; width: 100%; background: #ffd; border: solid 1px black"
                                    :value="item.input"></input>
                            </div>
                            <div class="div-row">
                                <textarea ref="txtHistoryOutput" disabled cols="120" rows="5"
                                    style="width: 100%; height: auto; padding: 20px; background: #1f1f1f; color: #ddd; border: solid 1px black">{{ item.output }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="(content, index) in pendingPrompts" :index="index" class="div-row center"
                    style="align-items: center; border: solid 1px black; background: #ffd; padding: 20px; gap: 20px">
                    <div>{{ content }} </div>
                    <div class="div-row center" style="margin: 20px">
                        <!-- BEGIN: Loading Animation -->
                        <div><i class="fas fa-spinner fa-spin"></i></div>
                    </div>
                    <!-- END: Loading Animation -->
                </div>
                <div class="div-col center" style="margin: 10px; background: #eee; padding: 10px; border: solid 1px black">
                    <div style="background: #ffd; font-size: 0.75em">Talk to the Ollama REST API. Speak the word "prompt" as
                        the wake word.</div>
                    <div class="div-row center" style="padding: 10px; gap: 10px">
                        <div class="bold">PROMPT</div>
                        <input type="text" style="background: #fdd; border: solid 1px red; min-width: 500px; padding: 10px"
                            :value="currentInput" @input="handleTextInput"
                            v-on:keyup.enter="sendToOllama(currentInput)"></input>
                        <button class="button" @click="sendToOllama(currentInput)">Send</button>
                        <button class="button" @click="cancelSpeaking()">Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        vue = new Vue({
            el: '#app',
            data: {
                speechSynthesisVoices: [],
                currentInput: '',
                history: [],
                abortSpeaking: false,
                pendingPrompts: [],
            },
            methods: {
                resizeTextAreaHistory(index) {
                    var refThis = this;
                    setTimeout(function () {
                        refThis.$refs['txtHistoryOutput'][index].style.height = refThis.$refs['txtHistoryOutput'][index].scrollHeight + 'px';
                    }, 0);
                },
                handleDeleteHistoryItem(index) {
                    this.history.splice(index, 1);
                },
                handleTextInput(event) {
                    this.currentInput = event.target.value;
                },
                isSpeaking() {
                    if (speechSynthesis && speechSynthesis.speaking) {
                        return true;
                    } else {
                        return false;
                    }
                },
                cancelSpeaking() {
                    var refThis = this;
                    const speechSynthesis = window.speechSynthesis;
                    if (refThis.isSpeaking()) {
                        refThis.abortSpeaking = true;
                        setTimeout(function () {
                            refThis.abortSpeaking = false;
                        }, 250);
                        if (speechSynthesis && speechSynthesis.cancel) {
                            speechSynthesis.cancel();
                        }
                    }
                },
                async speak(content) {
                    if (this.isSpeaking()) {
                        this.cancelSpeaking();
                        await sleep(250);
                    }
                    if (speechSynthesis) {
                        let words = content.split(' ');
                        while (words.length > 0) {
                            let sentence = [];
                            for (let w = 0; w < 20; w++) {
                                if (words.length == 0) {
                                    break;
                                }
                                const word = words[0];
                                sentence.push(word);
                                //console.log('word', word);
                                words.shift();
                            }

                            if (this.abortSpeaking) {
                                console.log('Skip speaking early');
                                return;
                            }

                            let output = sentence.join(' ');
                            console.log('speak:', output);
                            const utterance = new SpeechSynthesisUtterance();
                            utterance.text = output;
                            if (voicesDropdown.selectedIndex > 0) {
                                const voice = this.speechSynthesisVoices[voicesDropdown.selectedIndex];
                                utterance.lang = voice.lang;
                                utterance.localService = voice.localService;
                                utterance.name = voice.name;
                                utterance.voiceURI = voice.voiceURI;
                            } else {
                                utterance.lang = 'en-US';
                            }
                            utterance.volume = 1;
                            utterance.rate = 1;
                            utterance.pitch = 1;

                            speechSynthesis.speak(utterance);

                            var inProgress = true;
                            utterance.addEventListener('end', function () {
                                inProgress = false;
                            });
                            while (inProgress) {
                                if (this.abortSpeaking) {
                                    console.log('Skip speaking');
                                    return;
                                }
                                await sleep(100);
                            }
                        }
                    }
                },
                sendToOllama(input) {
                    var refThis = this;
                    refThis.currentInput = '';

                    const speechSynthesis = window.speechSynthesis;

                    refThis.cancelSpeaking();

                    if (!input) {
                        return;
                    }

                    refThis.pendingPrompts.push(input);

                    // manipulate the chat history
                    let messages = [];
                    for (let i = 0; i < refThis.history.length; ++i) {
                        messages.push({
                            "role": "user",
                            "content": refThis.history[i].input,
                        });
                    }
                    messages.push({
                        "role": "user",
                        "content": input,
                    });

                    //console.log('Message Body', JSON.stringify(messages, null, 2));

                    // Define the request body
                    var requestBody = JSON.stringify({
                        "model": "llama2",
                        "messages": messages
                    });

                    // Send the request using Fetch API
                    fetch("http://localhost:" + portDropdown.value + "/api/chat", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: requestBody
                    })
                        .then(async response => {

                            let text = await response.text();

                            for (let i = 0; i < refThis.pendingPrompts.length; ++i) {
                                if (refThis.pendingPrompts[i] === input) {
                                    refThis.pendingPrompts.splice(i, 1);
                                    break;
                                }
                            }

                            //console.log("Text:", text);
                            // replace newlines with commas
                            text = text.split("\n").join(',');
                            if (text.endsWith(',')) {
                                // remove trailing comma
                                text = text.substring(0, text.length - 1);
                            }
                            // add brackets to make into array
                            text = '[' + text + ']';
                            //debugLog(JSON.stringify(JSON.parse(text), null, 2));
                            return text;
                        })
                        .then(async text => {
                            const json = JSON.parse(text);
                            //console.log("JSON:", json);
                            // combine messages into one string
                            let content = '';
                            for (let i = 0; i < json.length; i++) {
                                content += json[i]["message"]["content"];
                            }
                            if (!content) {
                                refThis.history.push({
                                    input: input,
                                    output: '(empty response)',
                                });
                                refThis.resizeTextAreaHistory(refThis.history.length - 1);
                                return;
                            } else {
                                refThis.history.push({
                                    input: input,
                                    output: content,
                                });
                                refThis.resizeTextAreaHistory(refThis.history.length - 1);

                                refThis.speak(content);
                            }
                        })
                        .catch(error => {
                            showError("Error: " + error);
                        });
                },
            },
        });

        var speechSynthesisVoices = [];

        function debugLog(msg) {
            console.log(msg);
        }

        function showError(msg) {
            debugLog(msg);
            txtError.innerText = msg;
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function setupSpeechRecognition() {

            window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
            if (!window.SpeechRecognition) {
                showError('Speech Recognition is not supported by your browser!');
                return;
            }

            const recognition = new SpeechRecognition();
            if (!recognition) {
                showError('Could not instantiate SpeechRecognition!');
                return;
            }
            debugLog('Instantiated SpeechRecognition');
            recognition.interimResults = true;
            recognition.lang = 'en-US';
            debugLog('SpeechRecognition: Set default language');

            recognition.addEventListener('result', e => {

                const results = Array.from(e.results);
                if (!results) {
                    return;
                }
                let jsonData = {};
                jsonData.results = [];
                for (let resultIndex = 0; resultIndex < results.length; ++resultIndex) {
                    //console.log(results[resultIndex]);
                    // SpeechRecognitionResult
                    let speechRecognitionResult = {};
                    speechRecognitionResult.isFinal = results[resultIndex].isFinal;
                    speechRecognitionResult.alternatives = [];
                    for (let setIndex = 0; setIndex < results[resultIndex].length; ++setIndex) {
                        //console.log(results[resultIndex][setIndex]);
                        // SpeechRecognitionAlternative
                        let speechRecognitionAlternative = {};
                        speechRecognitionAlternative.confidence = results[resultIndex][setIndex].confidence;
                        speechRecognitionAlternative.transcript = results[resultIndex][setIndex].transcript;
                        speechRecognitionResult.alternatives.push(speechRecognitionAlternative);
                    }
                    speechRecognitionResult.length = speechRecognitionResult.alternatives.length;
                    jsonData.results.push(speechRecognitionResult);
                }
                //debugLog(JSON.stringify(jsonData, null, 2));

                const transcript = Array.from(e.results)
                    .map(result => result[0])
                    .map(result => result.transcript)
                    .join('');

                vue.currentInput = transcript;

                const WAKE_WORD = 'prompt';
                if (e.results[0].isFinal && transcript && transcript.length > 0) {
                    let index = transcript.toLocaleLowerCase().indexOf(WAKE_WORD);
                    if (index < 0) {
                        //debugLog('WAKE WORD NOT DETECTED!');
                        return;
                    }
                    //debugLog('WAKE WORD DETECTED!');
                    const input = transcript.substring(index + WAKE_WORD.length);
                    if (input) {

                        vue.sendToOllama(input);
                    }
                }
            });

            recognition.addEventListener('end', recognition.start);

            if (recognition.start) {
                debugLog('SpeechRecognition has a start method');
                recognition.start();
                debugLog('SpeechRecognition: invoked start method');
            } else {
                showError('SpeechRecognition does not have a start method!');
            }
        }

        function setupSpeechSynthesis() {

            const speechSynthesis = window.speechSynthesis;
            if (!speechSynthesis) {
                showError('Speech Synthesis is not supported by your browser!');
                return;
            }

            if (speechSynthesis.getVoices) {
                setTimeout(function () {
                    vue.speechSynthesisVoices = speechSynthesis.getVoices();
                    //console.log('speechSynthesisVoices', speechSynthesisVoices);

                    for (let i = 0; i < vue.speechSynthesisVoices.length; i++) {
                        if (vue.speechSynthesisVoices[i].lang === 'en-US') {
                            voicesDropdown.selectedIndex = i;
                            break;
                        }
                    }
                }, 100);
            }
        }

        function setup() {

            setupSpeechRecognition();

            setupSpeechSynthesis();

        }

        setup();
    </script>
</body>

</html>